@import url('//fonts.googleapis.com/earlyaccess/jejuhallasan.css');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.menu-item-card{

width: 904.343px;
height: 125.603px;
flex-shrink: 0;

display: flex;
justify-content: center;
align-items: center;

border-radius: 14.13px;
border: 0.785px solid #000;
background: #222;
box-shadow: 0px 1.57px 4.71px 0px rgba(0, 0, 0, 0.25);
}

.menu-item-card-inner{

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 770px;
    
}

.menu-item-card-left{
width: 450px;
margin-left: 40px;
display: flex;
flex-direction: column;
gap: 10px;
}

.menu-item-title{
    color: #FFF;
    font-family: 'Jeju Hallasan', cursive;
font-size: 28.261px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}

.menu-item-description{
margin: 0;
color: #FFF;
font-family: Lato;
font-size: 15.7px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.menu-item-card-right{
    color: #FFF;
    font-family: 'Jeju Hallasan', cursive;
    font-size: 28.261px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}